html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #000;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fa0;
    }
}
li {
    list-style: none;
}
